/*map styling*/
.map {
  position:absolute;
  top:125px;
  left: 25%;
  width:50%;
}
/*style solely for testing, feel free to fuck this shit up*/
.eventbox{
  background-color: #00b359;
  border-radius: 5px;
  opacity: .80;
  min-height : 250px;
  margin-left: 20px;
  margin-top: 20px;
  border:2px solid black;
}

.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }
